<section class="contenedor">
  <button (click)="crearTransaccion()">Crear</button>
  <button>salir</button>
  <table class="tabla">
    <thead>
      <tr>
        <th>Monto</th>
        <th>motivo</th>
        <th>Accion</th>
      </tr>



    </thead>
    <tbody>
      @for (transaccion of transacciones; track $index) {
      <tr>
        <td>{{transaccion.monto}}</td>
        <td>{{transaccion.motivo}}</td>
        <!-- BOTON DE ELIMINAR  -->
        <div class="caja-botones">
          <button (click)="eliminarTransaccion(transaccion.id)">
            <span class="material-symbols-outlined">
              delete
            </span>
            <span class="sub-texto">Eliminar</span>
          </button>
          <button (click)="actualizarTransaccion(transaccion)">
            <span class="material-symbols-outlined">
              update
            </span>
            <span class="sub-texto">actualizar</span>
          </button>
        </div>
      </tr>
      }
      @empty {
      <tr>no hay datos</tr>
      }
    </tbody>
  </table>
  @if (formtransaccion) {
  <form [formGroup]="formtransaccion">
    <label for="fecha">fecha</label>
    <br>
    <input formControlName="fecha" type="date" id="fecha">
    <br>
    <label for="monto">Monto</label>
    <br>
    <input formControlName="monto" type="number" id="monto">
    <br>
    <label for="motivo">Motivo</label>
    <br>
    <textarea formControlName="motivo" id="motivo"></textarea>
    <br>
    <select formControlName="transactiontype_id" id="tipo">
      <option value="null">Selecione un tipo</option>
      @for (item of tipoTransacciones; track $index) {
      <option [value]="item.id">{{item.tipo_transaccion}}</option>

      }
    </select>
    <button (click)="GuardarTransasccion()">Guardar</button>
    <button (click)="cancelarTransasccion()">Cancelar</button>
  </form>
  }
</section>