<section>
  <button  (click)="crearTransaccion()">Crear</button>
<table>
  <thead>
    <tr>
      <th>Monto</th>
      <th>motivo</th>
      <th>Accion</th>
    </tr>

      

  </thead>
  <tbody>
    @for (item of transacciones; track $index) {
      <tr>
        <td>{{item.monto}}</td>
        <td>{{item.motivo}}</td>
        <button (click)="eliminarTransaccion($index)">Eliminar</button>
        <button (click)="actualizarTransaccion(item,$index)">Actualizar</button>
      </tr>
    }
    @empty {
      <tr>no hay datos</tr>
    }
  </tbody>
</table>
@if (formtransaccion) {
  <form [formGroup]="formtransaccion">
    <label for="fecha">fecha</label>
    <br>
    <input  formControlName="fecha" type="date" id="fecha">
    <br>
    <label for="monto">Monto</label>
    <br>
    <input  formControlName="monto" type="number" id="monto">
    <br>
    <label for="nombre">Motivo</label>
    <br>
    <textarea formControlName="nombre" id="nombre"></textarea>
    <br>
    <select formControlName="transactiontype_id" id="tipo">
      <option value="null">Selecione un tipo</option>
      @for (item of tipoTransacciones; track $index) {
        <option [value]="item.id">{{item.tipo_transaccion}}</option>
       
      }
    </select>
    <button (click)="GuardarTransasccion()">Guardar</button>
    <button (click)="cancelarTransasccion()">Cancelar</button>
  </form>
}
</section>
